/* @forward "element-plus/theme-chalk/src/common/var.scss" with (
  $popover: (
    " word-break": normal,
  )
); */

.el-popover {
  word-break: normal !important;
}

.el-dialog__body {
  padding: 10px;
}
